<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="active"><a href="index.html">Hem<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil<span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#myModal">status</a></li>
                        <li><a href="/options-link">Inställningar?</a></li>
                        <li class="modal-profile"><a href="/profilemodal">Min profil</a></li>
                        <li class=""></li>
                        <li class="divider"></li>
                        <li><a href="#" id="log-out-btn-one">Logga ut</a></li>
                    </ul>
                </li>          
                <li ><a href="/booked-link">Bokade lokaler<span class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
                <li ><a href="/search-link">Sök<span class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
                <li ><a href="#">Skolans elever<span class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
                <li ><a href="#">Om skolan<span class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
                <li ><a href="#">Kontakta oss<span class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
                

                <!-- Ska vara dold för elever -->
                <li id="access-booking-panel"><a href="/booking-link">Boka lokal<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>

                <!--Ska vara dold för elever och lärare -->
                <li class="dropdown" id="access-admin-panel">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administratör<span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="/classroom-admin">Administrera klassrum</a></li>
                        <li><a href="/education-admin">Administrera utbildningar</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Något3</a></li>
                        <li><a href="#">Något4</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Något5</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- /Sidebar menu -->

<!-- Header -->
<div class="page-content-wrapper">

    <header class="container-fluid bg bg-primary">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">Itsworking</h1>
            </div><!--
            <button type="link" class="btn btn-link profile-link">Logga ut</button>-->
        </div>

    </header>

    <!-- /header -->

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Profiluppgifter</h4>
      </div>
      <div class="modal-body">
        <p>Profilbild: </p>
        <div class="profile-image">
            <img src="http://placehold.it/100x100/">
        </div>
        <div class="text-box">
            <p>För- och Efternamn:</p>
            <p class="name">#</p>
            <p>Personnummer: </p>
            <p class="birthday">#</p>
            <p>E-post: </p>
            <p class="mail">#</p>
            <p>Utbildning: </p>
            <p class="education">#</p>
        </div>
        <div class="lower-part">
            <button class="update-btn">Ändra uppgifter</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        <button type="button" class="btn btn-primary">Spara ändringar</button>
      </div>
    </div>
  </div>
</div>

    <!-- main page content -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="content-main">
                <div class="fit">
                    <div class="mainTemplate">[template main]</div>
                </div>
            </div>
        </div>
    </div>

    <!-- /main page content -->


    <!-- vertical spacer-->
<div class="vertical-spacer"></div>
</div>
<div class="vertical-spacer"></div>
<!-- /vertical spacer -->

<!-- Footer -->
<!--<div class="container-fluid bg-primary footer">
    <div class="row bg-primary">
        <div class="col-sm-offset-2 col-sm-2 footSpace">
            <a href="#"><h4><strong>Skolan</strong></h4></a>
            <a href="#"><p>Utbildningar</p></a>
            <a href="#"><p>Information</p></a>
        </div>

        <div class="col-sm-offset-1 col-sm-3 footSpace">
            <h4><strong>Kontakta Oss</strong></h4>
            <p>email: ${email}</p>
            <p>tel: 070 032 213 321</p>
        </div>

        <div class="col-sm-offset-1 col-sm-1 footSpace">
            <h4><strong>Följ oss</strong></h4>
            <a href="https://twitter.com" class="btn btn-default btn-twitter" data-show-count="false" data-size="large"><h4><strong>Itsworking</strong></h4></a>
                              
        </div>
    </div>
</div>

-->

