
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Boka sal på Itsworking!</h3>
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="form-group">
                <h3>Boka sal via kalendern nedan</h3>
                <input type="text" class="form-control" id="usr" value="Namn">
            </div>
            <select class="booking-details">
                <option value="sal1">sal1</option>
                <option value="sal2">sal2</option>
                <option value="sal3">sal3</option>
                <option value="sal4">sal4</option>
            </select>
            <select class="booking-details">
                <option value="klass1">klass1</option>
                <option value="klass2">klass2</option>
                <option value="klass3">klass3</option>
                <option value="klass4">klass4</option>
            </select>
        </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="button" class="btn btn-success">Boka</button>
            <button type="button" class="btn btn-danger">Avboka</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="vertical-spacer"></div>

            <div id='wrap'>

                <div id='calendar'></div>

                <div style='clear:both'></div>
            </div>
        </div>
    </div>
</div>

<script src="js/calendar-ready.js"></script>