
<div class="login-container">
    <div class="card card-container">
        <!-- profile img needed?? -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">Remember me
                </label>
            </div>
            <button id="login-btn" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot your password?
        </a>
        <div class="wrong-credentials" style="color:red;display:none">Wrong credentials</div>
    </div><!-- /card-container -->
    <h3>Username: admin@mail.com<h3/>
    <h3>Password: 0000<h3/>
</div><!-- /container -->
