<h2>It's working</h2>
<div class="login-container">
    <div class="card card-container">
        <!-- profile img needed?? -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="Password" id="inputPassword" class="form-control" placeholder="Lösenord" required>
            <!--div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">Kom ihåg mig
                </label>
            </div-->
            <button id="login-btn" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logga in</button>
        </form><!-- /form -->
        <!--a href="#" class="forgot-password">
            Glömt ditt lösenord?
        </a-->
        <div class="wrong-credentials" style="color:red;display:none">Fel uppgifter</div>
    </div><!-- /card-container -->
    <!--h3>Användarnamn: admin@mail.com<h3/>
    <h3>Lösenord: 0000<h3/-->
</div><!-- /container -->
