<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profiluppgifter</h4>
            </div>
            <div class="modal-body">
                <p>Profilbild: </p>
                <div class="profile-image">
                    <img src="https://image.flaticon.com/icons/svg/149/149071.svg" class="img-circle img-responsive" max-width"60%" height="auto">
                </div>
                <div class="text-box">
                    <h4>För- och Efternamn:</h4>
                    <p>${name}</p>
                    <h4>Personnummer:</h4>
                    <p>${birthday}</p>
                    <h4>E-post: </h4>
                    <p>${email}</p>
                    <h4>Utbildning:</h4>
                    <p>${education}</p>
                </div>
            </div>
        </div>
    </div>
</div>