<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Itsworking skolan</h3>
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>

            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>

            <div class="vertical-spacer"></div>

            <h3>Kontakta oss</h3>

            <p><strong>Person 1</strong></p>

            <p>tel: 097 6578 5666 6587</p>

            <p>email: mail@mail.com</p>

            <p><strong>Person 2</strong></p>

            <p>tel: 097 6578 5666 6587</p>

            <p>email: mail@mail.com</p>

            <p><strong>Person 3</strong></p>

            <p>tel: 097 6578 5666 6587</p>

            <p>email: mail@mail.com</p>

            <p><strong>Person 4</strong></p>

            <p>tel: 097 6578 5666 6587</p>

            <p>email: mail@mail.com</p>

            <p><strong>Person 5</strong></p>

            <p>tel: 097 6578 5666 6587</p>

            <p>email: mail@mail.com</p>
        </div>
    </div>
</div>