<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Itsworking skolan</h3>
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>

            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>
        </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Kontakta oss</h3>
        </div>
    </div>
</div>
<div class="container booking-show-items">
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person1</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person2</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person3</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person4</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person5</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person6</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person7</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person8</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Person9</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="vertical-spacer"></div>
    
    <div class="row">
        <div class="col-sm-12">
            <h3>Sjukanmälan</h3> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Skolsköterska1</th>
                    </tr>
                    <tr>
                        <td><p>Göran Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                    <tr>
                        <th>Skolsköterska2</th>
                    </tr>
                    <tr>
                        <td><p>Sture Persson</p></td>
                        <td><p>070-53453-345</p></td>
                        <td><p>göran@mail.com</p></td>
                    </tr>
            </table>
        </div>
    </div>
</div>