<div class= "search-container">
    <form id="search-form" class="well well-large d-flex">
        <div class="input-group input-group-sm"> 
            <input id="search-text" type="text" class="form-control" placeholder="Vad letar du efter?">
            <span class="input-group-btn">
                <button id="searchButton" type="submit" class="search-btn btn btn-primary" disabled>Sök</button>
            </span>
        </div>
        <form-group class="pull-left">
            <label class="radio-inline"><input value="TEACHER" type="radio" name="optradio">Lärare</label>
            <label class="radio-inline"><input value="STUDENT" type="radio" name="optradio">Studenter</label>
        </form-group>
        <div class="vertical-spacer"></div>
        <!--<div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" style="width: 20%;"></div>
        </div> -->
    </form>
        <div class="vertical-spacer"></div>
        <div class="resultsContainer">
            
        </div>
</div>

<!-- ======= OLD CODE =======
<div class="search-container">
    <div class="widthContraint">
        <div class="inputContainer">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Sök efter..." id="searchField">
                <span class="input-group-btn">
                    <button class="search-btn btn btn-primary" type="button" id="searchButton" data-loading-text="Searching..">Sök</button>
                </span>
            </div>
            <div class="progressContainer">
            </div>
            <div class="resultsContainer">
                <div class="panel panel-default" id="searchPanel">
                    <div class="panel-heading" id="searchPanelHeading">Resultat</div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
  -->
