.admin-show-items{
    input{
        float: right;
    }

    td{
        text-align: left; 
    }
    
    th{
        color: white !important;
    }

    .basic-icon:hover{
        cursor: crosshair;
    }


    a:hover{
        cursor: pointer;
    }

    .basic-icon{
        width: 20px;
        height: 20px;
    }

}

.table-basic-auto-create-form p{
    padding-top: 10px;
}

.admin-show-items-education{
    td{
        border-top: 1px none #000000 !important;
    }
}

.admin-create-btn{
    float: right;
}

.admin-add-form{
    width: 50%;

    select{
        padding-left: 5px; 
    }
    label{
        float:left;
    }
    .submit-btn-add-form{
        float:left;
    }
}

.modal-body{
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1em 0;
        padding: 0; 
    }
}