.admin-show-items{
    input{
        float: right;
    }

    td{
        text-align: left; 
    }

    .basic-icon:hover{
        cursor: pointer;
    }
    
    .my-table-basic-td:hover{
        cursor: pointer;
        text-decoration: underline;
    }

    a:hover{
        cursor: pointer;
    }

    .basic-icon{
        width: 20px;
        height: 20px;
    }


}

.admin-show-items-education{
    td{
        border-top: 1px none #000000 !important;
    }
}

.admin-create-btn{
    float: right;
}

.admin-add-form{
    width: 50%;

    select{
        padding-left: 5px; 
    }
    label{
        float:left;
    }
    .submit-btn-add-form{
        float:left;
    }
}

.modal-body{
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        margin: 1em 0;
        padding: 0; 
    }
}