html, body {
  /*min-height: 100vh;*/
  overflow-x: hidden;
  
}

/* Wrapper for page content to push down footer */
.page-content-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
  overflow-y: hidden;
}

/* Set the fixed height of the footer here */
.footer {
  height: 200px;
  color: white;
}

header {
	height: 120px;
	margin-bottom: 70px;
	text-align: center;
  margin-top: -50px;
  padding: 100px;
  box-shadow: 0px 1px 10px 5px black;

	z-index: 1;
}

header .logo {
  display: block;
  float: left;
  height: 100px;
  margin: 10px;

}

h1.titleh1 {
 text-shadow: 2px 2px 5px black;
}



.menu {
	margin-left:-15px;
	margin-right:-15px;
}

.fit {
  margin-left: 30px;
  margin-right: 30px;
}

/*.btn-twitter {
      padding-left: 30px;
      background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 9px no-repeat;
    }
.btn-twitter:hover {
      background-position:  -21px -16px;
    }
    */

.dropMenu {
	z-index: 10;
}

.vertical-spacer {
  height:50px;
}

.sm-vertical-spacer {
  height:15px;
}


.footer li a {
	text-decoration: none;
	background-color: #999999;
}

.footSpace {
	margin-top: 20px;
	margin-bottom: 40px;
}
