<div class="container booking-show-items">
    <h3>Administrera Studenter</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Utbildning</th>
                <th>Epost</th>
                <th>Pnr</th>
                <th>Ta bort</th>
                <th>Redigera</th>
            </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>
    <!--<input type="button" value="Lägg till" id="admin-add-student-btn">-->
    <button type="button" class="btn btn-success" id="admin-add-room-btn">Lägg till</button>
</div>