<form class="admin-add-room-form admin-add-form">
    <div class="form-group">
        <label for="admin-room-nr-select">Room Number</label>
        <select class="form-control" id="admin-room-nr-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="admin-room-size-select">Room Size</label>
        <select class="form-control" id="admin-room-size-select">
            <option>SM</option>
            <option>MD</option>
            <option>LG</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="admin-room-projector-select">Projector exists</label>
        <select class="form-control" id="admin-room-projector-select">
            <option>true</option>
            <option>false</option>
        </select>
    </div>
    

    <button type="submit" class="btn btn-primary submit-btn-add-form" id="admin-add-room-submit-btn">Submit</button>
</form>