<form class="booking-add-room-form booking-add-form" id='booking-form'>
    <div class="form-group">
        <label for="booking-room-select">Sal</label>
        <select class="form-control" id="booking-room-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="booking-room-education-select">Klass</label>
        <select class="form-control" id="booking-room-education-select">
            
        </select>
    </div>

    <div class="form-group">
        <label for="booking-room-teacher-select">Lärare</label>
        <select class="form-control" id="booking-room-teacher-select">
            
        </select>
    </div>
    


    <div class="form-group">
        <label for="booking-room-date-select">Datum</label>
        <input type="text" class="form-control" id="booking-room-date" maxlength="10" value=2012-12-12>
        </div>
    </div>
    

    <button type="submit" class="btn btn-success" id="booking-change-room-btn">OK</button>
    <button type="submit" class="btn btn-danger" id='abort-booking'>Avbryt</button>
</form>
