<form class="booking-add-room-form booking-add-form">
    <div class="form-group">
        <label for="booking-room-select">Sal</label>
        <select class="form-control" id="booking-room-select">
            <option>${_classroom}</option>
            <option>${_classroom}</option>
            <option>${_classroom}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="booking-room-education-select">Klass</label>
        <select class="form-control" id="booking-room-education-select">
            <option>${_education}</option>
            <option>${_education}</option>
            <option>${_education}</option>
            <option>${_education}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="booking-room-teacher-select">Lärare</label>
        <select class="form-control" id="booking-room-teacher-select">
            <option>${name}</option>
            <option>${name}</option>
            <option>${name}</option>
            <option>${name}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="booking-room-date-select">Datum</label>
        <select class="form-control" id="booking-room-date-select">
            <option>1234567</option>
            <option>12345678</option>
            <option>123456789</option>
            <option>12345678910</option>
        </select>
    </div>
    

    <button type="submit" class="btn btn-success" id="booking-change-room-btn">Verifiera</button>
    <button type="submit" class="btn btn-danger" id="#">Avbryt</button>
</form>