<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Boka sal på Itsworking!</h3>
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille. Turkey tri-tip cupim capicola ham, pig ham hock. Sirloin burgdoggen doner t-bone strip steak, ribeye beef bacon turkey shankle pork chop meatloaf shoulder. Meatball t-bone corned beef cupim short ribs tri-tip meatloaf. Kielbasa swine ball tip strip steak fatback, frankfurter pork pig ham hock spare ribs alcatra porchetta. Burgdoggen hamburger chuck ground round. Shankle kevin tri-tip short loin ball tip.
            </p>
        </div>
    </div>
</div>

<div class="vertical-spacer"></div>

<div class="container booking-show-items">
    <h3>Boka sal</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sal</th>
                <th>Klass</th>
                <th>Lärare</th>
                <th>Datum</th>
                <th>Ändra</th>
                <th>Ta bort</th>
            </tr>
        </thead>

        <!-- Bokade lokaler -->
        <tbody>

         
        </tbody>

    </table>

    <!--Boka knapp -->
    <button type="button" class="btn btn-success booking-create-btn" id="booking-add-room-btn">Boka</button>
</div>

<!--<div class="row">
        <div class="col-sm-12">
            <div class="vertical-spacer"></div>

            <div id='wrap'>

                <div id='calendar'></div>

                <div style='clear:both'></div>
            </div>
        </div>
    </div>

<script src="js/calendar-ready.js"></script>-->