<!--div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Bokade salar på Itsworking</h3>
            <p>Shankle sirloin venison, porchetta spare ribs shoulder sausage turducken pig short ribs landjaeger pancetta andouille.
            </p>
        </div>
    </div>
</div-->

<div class="container booking-show-items">
    <h3>Bokade salar</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sal</th>
                <th>Klass</th>
                <th>Lärare</th>
                <th>Datum</th>
            </tr>
        </thead>

        <!-- Bokade lokaler -->
        <tbody>

         
        </tbody>

    </table>
</div>