<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="active"><a href="index.html">Home<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil<span class="caret"></span><span class="profil pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#">Status?</a></li>
                        <li><a href="#" id="profile-settings">Inställningar?</a></li>
                        <li><a href="#">Någonting</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Något annat</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><strong>Logga ut</strong></a></li>
                    </ul>
                </li>
                <li ><a href="#">Boka lokal<span class="boka pull-right hidden-xs showopacity glyphicon glyphicon-pushpin"></span></a></li>
                <li ><a href="#">Bokade lokaler<span class="bokade pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a></li>
                <li ><a href="#">Sök<span class="sok pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a></li>
                <!--Ska vara dold för elever och lärare -->
                <li ><a href="#">Administratör<span class="admin pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- /Sidebar menu -->

<!-- Header -->
<div class="page-content-wrapper">
    <header class="container-fluid bg bg-primary">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">Itsworking</h1>
            </div>
        </div>
    </header>

<!-- </header>-->

    <main>
        <!-- Page content -->
        <div class="mainTemplate">[template main]</div>
        <!-- /Page content -->

        <!-- vertical spacer-->
        <div class="vertical-spacer"></div>
</div>
<div class="vertical-spacer"></div>
</div>
<!-- /vertical spacer -->

<!-- Footer -->
<div class="container-fluid bg-primary footer">
    <div class="row bg-primary">
        <div class="col-sm-offset-1 col-sm-2 footSpace">
            <a href="#"><h4><strong>Skolan</strong></h4></a>
            <a href="#"><p>Utbildningar</p></a>
            <a href="#"><p>Information</p></a>
        </div>

        <div class="sm-vertical-spacer"></div>

        <p><strong>Adress: Location 23</strong></p>
        <p><strong>Postal code: 343 33 Locationtown</strong></p>

    </div>
</div>
</div>
<!-- /main page content -->
</main>

<!-- vertical spacer-->
<div class="vertical-spacer"></div>
</div>
<div class="vertical-spacer"></div>
</div>
<!-- /vertical spacer -->

<!-- Footer -->
<div class="container-fluid bg-primary footer">
    <div class="row bg-primary">
        <div class="col-sm-offset-1 col-sm-2 footSpace">
            <a href="#"><h4><strong>Skolan</strong></h4></a>
            <a href="#"><p>Utbildningar</p></a>
            <a href="#"><p>Information</p></a>
        </div>
        <div class="col-sm-offset-2 col-sm-3 footSpace">
            <a href="#"><h4><strong>Kontakta Oss</strong></h4><a>
                    <a href="#"><p>email: något@något.com</p></a>
                    <a href="#"><p>tel: 070 032 213 321</p></a>
                    </div>

                    <div class="col-sm-offset-1 col-sm-2 footSpace">
                        <a href="#"><h4><strong>Följ oss</strong></h4></a>
                        <a href="#"><p>Nyhetsbrev:</p></a>
                        <a href="#"><p></p></a>
                    </div>
                    </div>
                    </div>
                    <!-- /Footer -->

                    </head>
                    <body>

                        <!-- Script -->
                        <script onerror="linkNotFound(this)" src="js/external/jquery-1.9.1.js"></script>
                        <script onerror="linkNotFound(this)" src="js/external/bootstrap.min.js"></script>
                        <script onerror="linkNotFound(this)" src="js/REST.class.js"></script>

                        <!-- Finns längst upp. Måste den vara där fortfarande? -->
                        <!-- <script onerror="linkNotFound(this)" src="js/globals.js"></script>-->
                        <script onerror="linkNotFound(this)" src="js/main.js"></script>
                        <script src="js/template.jquery.js"></script>
                        <script src="js/bootstrap.min.js"></script>
                        <script src="js/thing.js"></script>
                        <script onerror="linkNotFound(this)" src="js/external/client.min.js"></script>
                        <script onerror="linkNotFound(this)" src="js/modals/my_modals.js"></script>

                        <!-- /Script -->