
<div class="container">
	<div class="row">
		<div class="col-xs-12 profile-content" id="profile-content">

			<form>
				<div class="form-group">
					<label for="firstname">Förnamn:</label>
					<input type="text" class="form-control" id="firstname" placeholder="Förnamn">
				</div>
				<div class="form-group">
					<label for="lastname">Efternamn:</label>
					<input type="text" class="form-control" id="lastname" placeholder="Efternamn">
				</div>
				<div class="form-group">
					<label for="email">E-post:</label>
					<input type="email" class="form-control" id="email" placeholder="E-post">
				</div>
				<div class="form-group">
					<label for="phoneno">Telefon-/mobilnummer:</label>
					<input type="tel" class="form-control" id="phoneno" placeholder="Telefon">
				</div>

				<button type="submit" class="btn btn-default save-btn">Spara</button>
			</form>

		</div>
	</div>
</div>
